:root.theme-light {
  --page-bg: url(../images/cover-image-light.png);
  --accent-color: #FF8DCB;
  --title-color: #FFC2E6;
  --main-color: #353430;
  --article-title-color: #353430;
  --bg-color: #FFF1F7;
  --decore-item-color: #353430;
  --decore-display: none;
  --font-family: "IBM Plex Mono";
}